use lansweeperdb;

go

/*
	в таблицах rMaterialSvod и rMaterialSvodRes	устанавливает поля
	rMaterialSvod.IdSclad = rAssetScladLink.IdSclad
	rMaterialSvodRes.IdSclad = rAssetScladLink.IdSclad

	rMaterialSvod.ScladRemain = rScladMaterialOriginal.Number
	rMaterialSvodRes.ScladRemain = rScladMaterialOriginal.Number

	rAssetScladLink - заполняется в ручную 

	rScladMaterialOriginal - заполняется скриптом
*/

-- Заполняем rScladMaterialOriginal 

delete from dbo.rScladMaterialOriginal

go

insert into dbo.rScladMaterialOriginal (
	IdSclad
	, IdMaterialOriginal
	, Number
)
-- умножаем склады на номенклатуру
select
	smo.IdSclad
	, smo.IdMaterialOriginal
	, smon.Number
from (
	select 
		s.Id as IdSclad
		, mo.Id as IdMaterialOriginal
	from (
		select 
			s.Id
		from dbo.rSclad as s
	) as s
	cross join (
		select 
			mo.Id
		from dbo.rMaterialOriginal as mo
	) as mo
) as smo
--  Здесь считаем баланс на каждом складе для каждой номенклатуры.
left join (
select 
	src.IdSclad
	, src.IdMaterialOriginal
	, src.Number
from (
	select
		s.IdSclad
		, s.IdMaterialOriginal
		, isnull(sum(pr.Number),0) + isnull(sum(pt.Number),0) - isnull(sum(rt.Number),0) - isnull(sum(mr.Number),0) as Number

	from (
		select 
			s.Id as IdSclad
			, mo.Id as IdMaterialOriginal
		from dbo.rSclad s cross join dbo.rMaterialOriginal mo
	) as s

	left join (
		select 
			s.Id as IdSclad
			, mo.Id as IdMaterialOriginal
			, sum(ps.Nr) as Number
		from dbo.rPrihod as p
		inner join dbo.rPrihodSpec as ps on p.Id = ps.IdPrihod
		inner join dbo.rSclad as s on p.IdSclad = s.Id
		inner join dbo.r1CSprav as cs on ps.Id1CSprav = cs.Id
		inner join dbo.rMaterialAnalog as ma on cs.IdAnalog = ma.Id
		inner join dbo.rMaterialLink as ml on ma.Id = ml.IdAnalog
		inner join dbo.rMaterialOriginal as mo on ml.IdOriginal = mo.Id

		group by s.Id, mo.Id
	) as pr on s.IdSclad = pr.IdSclad and s.IdMaterialOriginal = pr.IdMaterialOriginal

	left join (
		select 
			s.Id as IdSclad
			, mo.Id as IdMaterialOriginal
			, sum (ts.Number) as Number

		from dbo.rTransfer as t
		inner join dbo.rSclad as s on t.IdScladTarget = s.Id
		inner join dbo.rTransferSpec as ts on t.Id = ts.IdTransfer
		inner join dbo.rTransferStatus as tst on t.IdStatus = tst.Id
		inner join dbo.rMaterialOriginal as mo on ts.IdOriginal = mo.Id
		where tst.Status like N'В%'

		Group by s.Id, mo.Id
	) as pt on s.IdSclad = pt.IdSclad and s.IdMaterialOriginal = pt.IdMaterialOriginal

	left join (
		select 
			s.Id		as IdSclad
			, mo.Id	as IdMaterialOriginal
			, sum (ts.Number) as Number

		from dbo.rTransfer as t
		inner join dbo.rSclad as s on t.IdScladSource = s.Id
		inner join dbo.rTransferSpec as ts on t.Id = ts.IdTransfer
		inner join dbo.rTransferStatus as tst on t.IdStatus = tst.Id
		inner join dbo.rMaterialOriginal as mo on ts.IdOriginal = mo.Id
		where tst.Status like N'В%'

		Group by s.Id, mo.Id
	) as rt on s.IdSclad = rt.IdSclad and s.IdMaterialOriginal = rt.IdMaterialOriginal

	left join (
		select 
			s.Id as IdSclad
			, mo.Id as IdMaterialOriginal
			, sum (mr.Number) as Number
		from dbo.rMaterialRashod as mr
		inner join dbo.rSclad as s on mr.IdSclad = s.Id
		inner join dbo.rMaterialLink as ml on mr.IdMaterialAnalog = ml.IdAnalog
		inner join dbo.rMaterialOriginal as mo on ml.IdOriginal = mo.Id

		Group by s.Id, mo.Id
	) as mr on s.IdSclad = mr.IdSclad and s.IdMaterialOriginal = mr.IdMaterialOriginal

	group by s.IdSclad, s.IdMaterialOriginal
) as src
inner join dbo.rSclad as s on src.IdSclad = s.Id

where src.Number <> 0 --and src.Gorod = N'Иркутск'
--order by src.IdSclad, src.Number
) as smon on smo.IdSclad = smon.IdSclad and smo.IdMaterialOriginal = smon.IdMaterialOriginal


-- заполняем склад и кол-во по складу для каждой записи

with c as (
select 
	ms.AssetId
	, ms.ModelSprav
	, ms.ScladRemain as Num_tgt
	, ms.IdSclad as Sclad_tgt
	, sl.IdSclad as Sclad_src
	, mo.PartNumber
	, isnull(so.Number, 0)  as Num_src
from dbo.rMaterialSvodRes as ms 
inner join dbo.rMaterialOriginal as mo on ms.PartNumber = mo.PartNumber
left join dbo.rAssetsScladLink as sl on ms.AssetId = sl.AssetId
left join dbo.rScladMaterialOriginal as so on sl.IdSclad = so.IdSclad and mo.Id = so.IdMaterialOriginal

-- where so.Number is not null
) update c
set 
num_tgt = num_src,
Sclad_tgt = Sclad_src
;

with c as (
select 
	ms.AssetId
	, ms.ModelSprav
	, ms.ScladRemain as Num_tgt
	, ms.IdSclad as Sclad_tgt
	, sl.IdSclad as Sclad_src
	, mo.PartNumber
	, isnull(so.Number, 0)  as Num_src
from dbo.rMaterialSvod as ms 
inner join dbo.rMaterialOriginal as mo on ms.PartNumber = mo.PartNumber
left join dbo.rAssetsScladLink as sl on ms.AssetId = sl.AssetId
left join dbo.rScladMaterialOriginal as so on sl.IdSclad = so.IdSclad and mo.Id = so.IdMaterialOriginal

-- where so.Number is not null
) update c
set 
num_tgt = num_src,
Sclad_tgt = Sclad_src;
